<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1 class="col-lg-1">Twitter dla ubogich</h1>
<form action = "/users">
    <button class="btn btn-success" value = "Przeglądaj użytkowników">Przeglądaj użytkowników</button>
</form>
<form action = "/adduser">
    <button class="btn btn-warning" value = "Dodaj użytkownika">Dodaj użytkownika</button>
</form>
    <a type="button" class="btn btn-secondary btn-lg" href="/logout">Logout</a>
</body>
</html>