<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<table class=table>

    <thead class=thead-dark>

    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Post</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="post : ${allPosts}">
        <form action="/posts" method="post" th:object="${post}">
            <td th:text="${post.name}"></td>
            <td th:text="${post.user}"></td>
            <td th:text="${post.message}"></td>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>