<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<table class=table th:each="post : ${allPosts}">

    <thead class=thead-dark>

    <tr>
        <th>Name</th>
        <th>Message</th>
    </tr>

    </thead>
    <tbody>
    <tr >
            <td th:text="${post.getUser().getName()}"></td>
            <td th:text="${post.message}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>